* {
    box-sizing: border-box;
}

.task {
    width: 70vw;
    height: 65vh;
    background-color: #f0f4eb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10%;
}

.task img {
    width: 60%;
}

.label-container {
    height: 30%;
    display: flex;
    align-items:center;
}

.task button {
    background-color: var(--green);
    color: var(--yellow);
    width: 80%;
    padding: 0;
    margin-top: 5%;
    font-size: large;
}

h3 {
    color:var(--dark-grey-text);
    font-family: var(--heading-font);
    text-align: center;
}

@media (min-width: 576px) {
    .task {
        width: 40vw;
    }
} 

@media (min-width: 768px) { 
    .task {
        width: 35vw;
    }
}

@media (min-width: 992px) {
    .task {
        width: 25vw;
        padding: 3% 1%;
        margin-bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .task {
        width: 20vw;
        height: 60vh;
    }
}