*{
    box-sizing: border-box;
}

.header {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding-top: 4%;
}

.main-info-container{
    display: flex; 
    flex-direction:column;
}

.header img {
    width: 15%;
    margin-right: 1vw;
}

.header h2 {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 2em;
}

.main-assignment-info {
    background-color: var(--light-grey-bcg);
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 15% 5%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-assignment-info h1 {
    font-family: var(--heading-font);
    color: var(--dark-grey-text);
    align-self: center;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    line-height: 1.25;
}

p span {
    color: var(--dark-grey-text);
} 

.info-name {
    font-weight: 700;
}

.performers {
    display: flex;
    /* align-items:baseline; */
    align-self:flex-end;
}

.performers h5 {
    color: var(--dark-grey-text);
    font-family: var(--text-font);
    font-weight: 900;
    margin-right: 1vw;
    font-size: 1.25em;
}

.performers mat-form-field {
    width: 40%;
}

.list-of-performers {
    margin-top: 5%;
}

.performer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    display: flex;
    width: 100%;
    padding:3%;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 5%;
    font-size: 0.75em;
}

.performer button {
    background-color: var(--green);
    color:var(--yellow);
}

.assign-button button{
    background-color: var(--green);
    color:var(--yellow);
    width: 80%;
    font-size: 2em;
}

.assign-button, .date-range{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@media (min-width: 576px) {

    .performers {
        align-self: center;
        width: 80%;
        align-items:flex-end;
    }

    .performers h5 {
        font-size: 1.35rem;
    }
    
    .performers mat-form-field {
        width: 60%;
    }

    .performer {
        padding: 1.5%;
    }
}
@media (min-width: 768px) {
    .header {
        padding: 1%;
        align-items:center;
    }

    .performers {
        align-self: flex-end;
        width: 80%;
        /* background-color: blueviolet; */
        justify-content: flex-end;
    }

    .performers mat-form-field {
        width: 30%;
    }

    .performers h5 {
        font-size: 1.75rem;
    }

    .assign-button button{
        width: 80%;
    }
} 
@media (min-width: 992px) {
    .header img {
        width: 5%;
    }

    .header h2 {
        font-size: 3em;
    }

    .header {
        display: flex;
        align-items: first baseline;
    }

    .main-assignment-info {
        padding-bottom: 5%;
        width: 80%;
    }

    .performer button {
        width: 20%;
        font-size: 1.5em;
    }
} 
@media (min-width: 1200px) {
    .performer {
        width: 60%;
    }
}