<div class="homepage-logo">
  <img src="mainLogClear.png"/>
</div>
<div class="login-form">
  <h1>Log in</h1>
  <form [formGroup]="form" (submit)="submit()">
      <div class="login-email-input">
          <mat-form-field class="custom-input">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="pat@email.com"
                formControlName="email"
                (blur)="updateErrorMessage()"
                required
              />
              <mat-error *ngIf="form.get('email')?.invalid">
                {{ errorMessage() }}
              </mat-error>
          </mat-form-field>
      </div>
      
      <div class="login-password-input">
          <mat-form-field class="custom-input">
              <mat-label>Enter your password</mat-label>
              <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
      </div>
      
      <button type="submit" mat-fab extended >
        Submit
      </button>
  </form>
</div>
