* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-bcg {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('/loginbcg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-logo img {
    width: 35%;
    margin-left: 5%;
}

.homepage-nav {
    padding-left: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage-info {
    color: var(--dark-grey-text);
    height: 60%;
    width: 55%;
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    margin-bottom: 5%;
}

button {
    background-color: var(--green);
    color: var(--yellow);
    width: 80%;
    font-size: 1.5em;
}

@media (min-width: 576px) {
    .home-logo {
        padding: 3% 4%;
    }

    .home-logo img {
        width: 25%;
    }
}

@media (min-width: 768px) {
    .homepage-info {
        width: 90%;
        height: 90%;
        font-size: 2em;
    }

    button {
        width: 90%;
        font-size: 2em;
        padding: 3%;
    }
}

@media (min-width: 992px) {
    .homepage-bcg {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('/loginbcg.png');
    }

    .home-logo {
        padding: 2% 3%;
    }

    .home-logo img {
        width: 15%;
    }

    .homepage-nav {
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 5%;
    }

    .homepage-info {
        width: 70%;
        height: 90%;
        font-size: 1.8em;
        text-align: right;
        line-height: 1.5;
    }

    .homepage-login-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    button {
        width: 40%;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .home-logo {
        padding: 1% 3%;
    }

    .home-logo img {
        width: 10%;
    }

    .homepage-info {
        width: 40%;
        line-height: 1.5;
    }
}
