<!-- src/app/tasks/task-main/task-main.component.html -->
<div class="homepage-bcg">
    <div class="homepage-logo">
        <img src="mainLogClear.png"/>
    </div>
    <div class="homepage-nav">
        <div class="homepage-info">
            <p>Our web application simplifies task management for postal branches in Lviv. 
                Managers can efficiently assign tasks, while employees receive clear 
                instructions and updates in real-time.</p>
        </div>
        <div class="homepage-login-button">
            <button mat-fab extended>
                Sign in  /  Log in
            </button>
        </div>
    </div>
</div>

