<!-- worker-data.component.html -->
<div class="worker-info">
  <div>
    <p>
      <span>First Name: </span>
      <span>{{ worker.firstName }}</span>
    </p>
    <p>
      <span>Last Name: </span>
      <span>{{ worker.lastName }}</span>
    </p>
    <p>
      <span>Middle Name: </span>
      <span>{{ worker.middleName }}</span>
    </p>
  </div>
  <div>
    <p>
      <span>Position: </span>
      <span>{{ worker.position }}</span>
    </p>
    <p>
      <span>Rate: </span>
      <span>{{ worker.rate }} UAH</span>
    </p>
    <p>
      <span>Bonus: </span>
      <span>{{ worker.bonus }} UAH</span>
    </p>
  </div>
</div>
