
:root {
    --green: #3D9833;
    --yellow: #FFD500;
    --dark-grey-text: #534C4C;
    --light-grey-text: #C0B6B6;
    --light-grey-bcg: #F6F6F6;
    
    --heading-font: "Josefin Sans", sans-serif;
    --text-font: "Abel", sans-serif;
}

html, body { height: 100%; }
body { margin: 0;  }

p, th, td {
    font-family: var(--text-font);
}

